* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

h1,
h2,
h3,
h4,
ul,
ol,
div,
span,
// section,
// article,
figure {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

// @font-face {
//     font-family: 'Bender-Bold';
//     src: url('fonts/OpenSans-Bold.ttf');
//     src: url('fonts/bender-bold/37BAF8_3_0.eot?#iefix') format("embedded-opentype"), url('fonts/bender-bold/37BAF8_3_0.woff2') format("woff2"), url('fonts/bender-bold/37BAF8_3_0.woff') format("woff"), url('fonts/bender-bold/37BAF8_3_0.ttf') format("truetype");
//   }
// @import '../fonts/solid.css';
@import 'assets/fonts/fontawesome.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext');

// html{
//         width: 100%;
//         height: 100vh;
// }
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    // background-color: #000;
    // background-color: rgb(73, 0, 4);
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: black;
    // background: url('./img/BG_2.jpg') center center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;

}

// $color1 = #57518e; 
.mainWindow {
    width: 1920px;
    // height: 1080px;
    // width: 100%;
    // height: 100vh;
    // background-color: #ccc;
    overflow: hidden;
    // background: url('./assets/grunge_BG.png')center no-repeat;
    // background-size: cover;
}

.header {
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    color: #fff;
    position: fixed;
    height: 300px;


    &>.headerLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #250506;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        margin-bottom: -3px;

        &>.leftModule {
            &>.logo {
                font-size: 100px;
                padding: 0 10px;
                background: url('assets/n2/logo.png') center no-repeat;
                background-size: cover;
                width: 180px;
                height: 34px;
            }
        }

        &>.rightModule {
            &>i {
                font-size: 36px;
                padding: 0 10px;

            }

            &>.currentTime {
                font-size: 36px;
                padding: 0 20px;
                // font-weight: bold;
            }
        }

    }

    &>.title {
        height: 70px;
        width: 100%;
        background: linear-gradient(0deg, #250506, #250506 55%, #520d0f 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 45px;
        color: #fff;
        // position: absolute;

    }
}

.msgWindow {
    z-index: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    // overflow-y: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    padding: 0px 100px;
    // position: absolute;
    transition: transform 300ms;
    bottom: 0;
    transform: translate(0px, 730px);

    // overflow: scroll;
    &>div {}

    &>article {
        display: flex;
        flex-direction: row;
        align-items: center;
        // transition: all 1s;
        padding: 10px auto;
        // height: 220px;
        margin: 10px 0;

        // margin: 10px auto;

        &>.userIcon {
            width: 200px;
            height: 200px;
            // background: url('assets/users/gorbunov.jpg') center no-repeat;
            background-color: rgba(255, 255, 255, 1);
            border: 5px solid black;
            background-size: auto 100%;
            border-radius: 50%;
            box-shadow: 5px 5px 5px 0 rgba($color: #000000, $alpha: 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
            // font-weight: bold;

        }

        // .Shark{
        //     background: url('assets/users/user_shark.png') center no-repeat;
        //     background-size: auto 100%;
        // }
        // .Mouse{
        //     background: url('assets/users/user_mouse.png') center no-repeat;
        //     background-size: auto 100%;
        // }
        // .Gorbunov{
        //     background: url('assets/users/user_gorbunov.jpg') center no-repeat;
        //     background-size: auto 100%;
        // }
        &>.userPlace {
            width: 200px;
            border: none;
        }

        &>div {
            border-radius: 0 20px 20px 20px;
            margin: 0 20px;
            // background-color: #250506;
            background-color: rgba(255, 255, 255, 1);
            border: 2px solid #000;
            padding: 0 20px;
            font-size: 50px;
            // box-shadow: 5px 5px 5px 0 rgba(#000000, 0.5);

            &>.userName {
                font-weight: bold;
                color: #000;
            }

            &>.userMsg {

                color: #000;
                margin: 20px;
                background-position-x: left;
            }

            // &>.angry{
            //     width: 200px;
            //     height: 200px;
            //     background: url('assets/smiles/angry.png') center no-repeat;
            //     background-size: 150px 150px;
            // }
            // &>.smirkface{
            //     width: 200px;
            //     height: 200px;
            //     background: url('assets/smiles/smirkface.png') center no-repeat;
            //     background-size: 150px 150px;
            // }
            // &>.hmmface{
            //     width: 200px;
            //     height: 200px;
            //     background: url('assets/smiles/hmmface.png') center no-repeat;
            //     background-size: 150px 150px;
            // }
        }
    }

    &>.systemMessage {
        background-color: #250506;
        color: #fff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        margin: 10px 100px;
        // width: 70%;

        font-size: 40px;
    }
}

.sendMsgWindow {
    padding: 0 20px;
    width: 100%;
    height: 70px;
    background-color: #250506;
    bottom: 0;
    z-index: 900;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c52429;

    &>i {
        font-size: 50px;
        margin: 0 10px;
    }

    &>input,select {
        color: #fff;
        width: 85%;
        margin: 0 10px;
        font-size: 40px;
        border: 2px solid #c52429;
        border-radius: 50px;
        padding: 0 30px;
        background-color: #c52429;

        &::placeholder {
            color: #fff;
            // opacity: 1; /* Firefox */
        }
    }
    &>select{

    }
}

//   .backgnd{
//     width: 1920px;
//     height: 1080px;
//           background: url('assets/Capture.PNG') no-repeat;
//     background-size: auto 100%;
//     position: absolute;
//   }


.Shark {
    background: url('assets/users/user_shark.png') center no-repeat;
    background-size: auto 100%;
}

.Mouse {
    background: url('assets/users/user_mouse.png') center no-repeat;
    background-size: auto 100%;
}

.Gorbunov {
    background: url('assets/users/user_gorbunov.jpg') center no-repeat;
    background-size: auto 100%;
}

.yanukovich {
    background: url('assets/users/user_yanukovich.jpg') center no-repeat;
    background-size: auto 100%;
}


.angry {
    width: 150px;
    height: 150px;
    background: url('assets/smiles/angry.png') center repeat-x;
    background-size: 150px 150px;
}

.smirkface {
    width: 150px;
    height: 150px;
    background: url('assets/smiles/smirkface.png') center repeat-x;
    background-size: 150px 150px;
}

.hmmface {
    width: 150px;
    height: 150px;
    background: url('assets/smiles/hmmface.png') center repeat-x;
    background-size: 150px 150px;
}

.waving {
    width: 150px;
    height: 150px;
    background: url('assets/n2/waving.png') center repeat-x;
    background-size: 150px 150px;
}

.champagne {
    width: 150px;
    height: 150px;
    background: url('assets/n2/champagne_sticker.png') center repeat-x;
    background-size: 150px 150px;
}

.dance {
    width: 150px;
    height: 150px;
    background: url('assets/n2/dance.png') center repeat-x;
    background-size: 150px 150px;
}

.flag {
    width: 150px;
    height: 150px;
    background: url('assets/n2/flag.png') center repeat-x;
    background-size: 150px 150px;
}

.sad {
    width: 150px;
    height: 150px;
    background: url('assets/n2/sad_3.png') center repeat-x;
    background-size: 150px 150px;
}

.sad2 {
    width: 300px;
    height: 150px;
    background: url('assets/n2/sad_3.png') center repeat-x;
    background-size: 150px 150px;
}

.sad8 {
    width: 1200px;
    height: 150px;
    background: url('assets/n2/sad_3.png') center repeat-x;
    background-size: 150px 150px;
}

.sad_2 {
    width: 150px;
    height: 150px;
    background: url('assets/n2/sad_2.png') center repeat-x;
    background-size: 150px 150px;
}

.norma_meme {
    width: 600px;
    height: 450px;
    background: url('assets/n2/norma_meme.png') center repeat-x;
    background-size: 600px 450px;
}

.impossible_meme {
    width: 600px;
    height: 450px;
    background: url('assets/n2/imp_meme.png') center repeat-x;
    background-size: 600px 450px;
}

.giphy {
    width: 600px;
    height: 450px;
    background: url('assets/n2/giphy.gif') center no-repeat;
    background-size: 600px 450px;
}

.fire {
    width: 456px;
    height: 150px;
    background: url('assets/n2/fire.png') center no-repeat;
    background-size: 456px 150px;
}